language: minimal
dist: trusty
addons:
  chrome: stable

before_install:
  - docker pull  kabanerobuild/website-travis:latest 

install:
  - docker build --cache-from  kabanerobuild/website-travis:latest -t landing-travis -f travis/Dockerfile .

before_install: 
  - wget http://chromedriver.storage.googleapis.com/2.24/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip -d /home/travis/virtualenv/python2.7.12/bin/
  - export CHROME_BIN=chromium-browser

# stages:
#   - name: Running tests
#     if: (type IN (pull_request))

jobs:
  include:
    - stage: "Running tests"
      name: "Running lint testing and building website with Jekyll"
      script:
        #- ./travis/docker_run.sh "./node_modules/.bin/eslint src/main/content/_assets/js/*.js"
       # - ./travis/docker_run.sh ./scripts/build_jekyll_maven.sh
        - ./travis/docker_run.sh "mvn verify"